/* Stylesheet for the About Page */

/* --- Header/Menu Styles --- */

.menu {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}
        
.site-title, .nav-link {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.site-title {
    font-size: 40px;
    font-weight: bold;
}

.nav-link {
    font-size: 25px;
    position: relative;
    top: -2px; 
    text-decoration: none;
}

.nav-link:hover {
    transform: scale(1.08);
    transition: ease 0.3s;
}

.nav-link:hover, .nav-link:focus {
    transform: scale(1.1);
    color: black    ; 
    text-decoration: underline; 
    outline-offset: 2px;
    }


/* --- About Us Styles --- */

.about-us-heading{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
}

.about-us-photo{

    width: 250px;
    height: 300px;
    padding: 0px;
    vertical-align: middle;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}

.about-us-text{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 475px;
    margin-right: 360px;
    padding: 25px;
}
