/* Stylesheet for the Contact Page */

/* --- Header/Menu Styles --- */

.menu {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}
        
.site-title, .nav-link {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.site-title {
    font-size: 40px;
    font-weight: bold;
}

.nav-link {
    font-size: 25px;
    position: relative;
    top: -2px; 
    text-decoration: none;
}

.nav-link:hover {
    transform: scale(1.08);
    transition: ease 0.3s;
}

.nav-link:hover, .nav-link:focus {
    transform: scale(1.1);
    color: black    ; 
    text-decoration: underline; 
    outline-offset: 2px;
    }


/* --- Contact Styles --- */

.fa-envelope{
    width: 100px;
    height: 100px;
    text-decoration: none;

}

.icon-hyperlink{
    color: black;
}